.rounded{
    border-radius: 50%;
    padding: 1px;
    border: 5.75px solid transparent;
    background: linear-gradient(55deg, #337ab7 50%, #ce00 100%);
}

h1 {
    font-size: 55px;
    letter-spacing: -.05ch;
}

.arrow{
    position: absolute;
    top: 91.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #337ab7;
    border-right: 5px solid #337ab7;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

@keyframes scroll{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@media screen and (max-width: 1200px){
    .arrow span {
        visibility: hidden;
    }
}

@media screen and (min-width: 1200px){
    .hello h4 {
        display: flex;
        overflow: hidden;
        width: 43%;
        border-right: .12em solid;
        white-space: nowrap;
        margin: 0 0 auto;
        letter-spacing: .03em;
        animation: 
        typing 3.5s steps(35, end),
        blink-caret 1.2s step-end 7;
    }
}

@media screen and (min-width: 1200px){
    .greeting1 h4 {
        display: flex;
        overflow: hidden;
        width: 21%;
        border-right: .12em solid;
        white-space: nowrap;
        margin: 0 0 auto;
        letter-spacing: .03em;
        animation: 
        typing2 3.5s steps(35, end),
        blink-caret 1.2s step-end 7;
    }
}
@keyframes typing {
    from { width: 0 }
    to { width: 43%;}
}


@keyframes typing2 {
    from { width: 0 }
    to { width: 21%;}
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #337ab7}
}