.socials-container {
    min-height: 30vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
}

.social-menu {
    text-align: center;
    margin-top: 75px;
    margin-right: 355px;
    margin-bottom: 150px;
}

.social-menu ul {
    position: absolute;
    /* left: 43%; */
    padding: 0;
    margin: 0;
    /* transform: translate(-50%, -50%);  */
    display: inline-block;
}

.social-menu ul li {
    list-style: none;
    margin: 0 30px;
    display: inline-block;
}

.social-menu ul li i {
    font-size: 30px;
    line-height: 60px;
    transition: .2s;
    color: #f8f8f8;
}

.social-menu ul li i:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #acacac;
    text-align: center;
    transition: .5s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(3) a{
    background-color: #3b5999;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color: #3b5999bd;
}

.social-menu ul li:nth-child(2) a{
    background-color: #525252;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: #525252bd;
}

.social-menu ul li:nth-child(1) a{
    background-color: #0077B5;
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #0077B5bd;
}

@media screen and (max-width: 380px){
    ul li p{
        visibility: hidden;
    }
}